<script src="./{componentName}.ts" lang="ts"></script>
<style src="./{componentName}.scss" lang="scss" scoped></style>

<template>
    <div class="{componentName}">
        VueComponent
    </div>
</template>